* {
  box-sizing: border-box;
}


body {
    background: url(../images/curtains1.jpg);
     background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 300vh;   
}

header{ 
  background: rgb(61, 60, 60);
  width: 45%;
  padding: 20px;
  margin: 70px auto;
  color: gold
}

h1 {
  font-family: 'Notable', sans-serif;
 
}

#userInput{
  width: 50%;
  font-size: 13px;
  padding: 0px 10px;
}

header,
.container{
  background: rgb(61, 60, 60);
  border-style: inset;
  border-color: gold;
  border-radius: 10px;
}

.container{
  /* background: white; */
  width: 70%;
  margin: 20px auto;
  color: black;
}

.gif {
  border-style: double;
  border-color: gold;
  border-radius: 10px;
  margin: 5px;
}

